body {
    background: rgb(45, 20, 59) ;
    color: rgb(7, 26, 133);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: blue;
    box-shadow: 0 2px 20px 0 black ;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0.5em;

}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: 400;
    font-size: 15px;
}

#container {
    width: 70%;
    padding: 0em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px ;
}

#post {
    background: #fff;
    padding: 1em;

}

#header {
    background-color: rgb(250, 43, 43);
    color: white;
    font-size: 15px;
}

#footer {
    background: #3d3d3d;
    color: white;
    text-align: center;
    margin: 10px;
    padding: .2em;

}

